/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: white;
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=e0e0e000&noise=242424&density=3&opacity=13"); }

.cube-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  cursor: -webkit-grab; }
  .cube-container #cube-viewport {
    -webkit-perspective: 1000px;
    /*perspective-origin*/
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -ms-perspective-origin: 50% 200px;
    -o-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px; }
    .cube-container #cube-viewport #cube {
      position: relative;
      height: 400px;
      width: 400px;
      /*transform-style*/
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      /*transition*/
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      z-index: 1; }
      .cube-container #cube-viewport #cube .cubies {
        position: absolute;
        margin: 1px;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        /*background-size*/
        -webkit-background-size: 100px;
        -moz-background-size: 100px;
        -o-background-size: 100px;
        background-size: 100px;
        opacity: 1;
        z-index: -1;
        text-align: center;
        font-size: 30px;
        /*border-radius*/
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px; }
        .cube-container #cube-viewport #cube .cubies > div {
          line-height: 100px; }
          .cube-container #cube-viewport #cube .cubies > div span {
            font-size: 10px; }

.top > div {
  background: rgba(85, 98, 112, 0.9); }

.bottom > div {
  background: rgba(78, 205, 196, 0.9); }

.left > div {
  background: rgba(255, 107, 107, 0.9); }

.right > div {
  background: rgba(133, 193, 245, 0.9); }

.front > div {
  background: rgba(199, 244, 100, 0.9); }

.back > div {
  background: rgba(196, 77, 88, 0.9); }

.a1 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(50px, -100px, 0);
  -moz-transform: rotateX(90deg) translate3d(50px, -100px, 0);
  -ms-transform: rotateX(90deg) translate3d(50px, -100px, 0);
  -o-transform: rotateX(90deg) translate3d(50px, -100px, 0);
  transform: rotateX(90deg) translate3d(50px, -100px, 0); }

.a2 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(50px, 0, 0);
  -moz-transform: rotateX(90deg) translate3d(50px, 0, 0);
  -ms-transform: rotateX(90deg) translate3d(50px, 0, 0);
  -o-transform: rotateX(90deg) translate3d(50px, 0, 0);
  transform: rotateX(90deg) translate3d(50px, 0, 0); }

.a3 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(50px, 100px, 0px);
  -moz-transform: rotateX(90deg) translate3d(50px, 100px, 0px);
  -ms-transform: rotateX(90deg) translate3d(50px, 100px, 0px);
  -o-transform: rotateX(90deg) translate3d(50px, 100px, 0px);
  transform: rotateX(90deg) translate3d(50px, 100px, 0px); }

.a4 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(150px, -100px, 0);
  -moz-transform: rotateX(90deg) translate3d(150px, -100px, 0);
  -ms-transform: rotateX(90deg) translate3d(150px, -100px, 0);
  -o-transform: rotateX(90deg) translate3d(150px, -100px, 0);
  transform: rotateX(90deg) translate3d(150px, -100px, 0); }

.a5 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(150px, 0, 0);
  -moz-transform: rotateX(90deg) translate3d(150px, 0, 0);
  -ms-transform: rotateX(90deg) translate3d(150px, 0, 0);
  -o-transform: rotateX(90deg) translate3d(150px, 0, 0);
  transform: rotateX(90deg) translate3d(150px, 0, 0); }

.a6 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(150px, 100px, 0);
  -moz-transform: rotateX(90deg) translate3d(150px, 100px, 0);
  -ms-transform: rotateX(90deg) translate3d(150px, 100px, 0);
  -o-transform: rotateX(90deg) translate3d(150px, 100px, 0);
  transform: rotateX(90deg) translate3d(150px, 100px, 0); }

.a7 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(250px, -100px, 0);
  -moz-transform: rotateX(90deg) translate3d(250px, -100px, 0);
  -ms-transform: rotateX(90deg) translate3d(250px, -100px, 0);
  -o-transform: rotateX(90deg) translate3d(250px, -100px, 0);
  transform: rotateX(90deg) translate3d(250px, -100px, 0); }

.a8 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(250px, 0, 0);
  -moz-transform: rotateX(90deg) translate3d(250px, 0, 0);
  -ms-transform: rotateX(90deg) translate3d(250px, 0, 0);
  -o-transform: rotateX(90deg) translate3d(250px, 0, 0);
  transform: rotateX(90deg) translate3d(250px, 0, 0); }

.a9 {
  /*transform*/
  -webkit-transform: rotateX(90deg) translate3d(250px, 100px, 0);
  -moz-transform: rotateX(90deg) translate3d(250px, 100px, 0);
  -ms-transform: rotateX(90deg) translate3d(250px, 100px, 0);
  -o-transform: rotateX(90deg) translate3d(250px, 100px, 0);
  transform: rotateX(90deg) translate3d(250px, 100px, 0); }

.b1 {
  /*transform*/
  -webkit-transform: translate3d(50px, 50px, 150px);
  -moz-transform: translate3d(50px, 50px, 150px);
  -ms-transform: translate3d(50px, 50px, 150px);
  -o-transform: translate3d(50px, 50px, 150px);
  transform: translate3d(50px, 50px, 150px); }

.b2 {
  /*transform*/
  -webkit-transform: translate3d(50px, 150px, 150px);
  -moz-transform: translate3d(50px, 150px, 150px);
  -ms-transform: translate3d(50px, 150px, 150px);
  -o-transform: translate3d(50px, 150px, 150px);
  transform: translate3d(50px, 150px, 150px); }

.b3 {
  /*transform*/
  -webkit-transform: translate3d(50px, 250px, 150px);
  -moz-transform: translate3d(50px, 250px, 150px);
  -ms-transform: translate3d(50px, 250px, 150px);
  -o-transform: translate3d(50px, 250px, 150px);
  transform: translate3d(50px, 250px, 150px); }

.b4 {
  /*transform*/
  -webkit-transform: translate3d(150px, 50px, 150px);
  -moz-transform: translate3d(150px, 50px, 150px);
  -ms-transform: translate3d(150px, 50px, 150px);
  -o-transform: translate3d(150px, 50px, 150px);
  transform: translate3d(150px, 50px, 150px); }

.b5 {
  /*transform*/
  -webkit-transform: translate3d(150px, 150px, 150px);
  -moz-transform: translate3d(150px, 150px, 150px);
  -ms-transform: translate3d(150px, 150px, 150px);
  -o-transform: translate3d(150px, 150px, 150px);
  transform: translate3d(150px, 150px, 150px); }
  .b5:hover {
    background: red;
    /*transition*/
    -webkit-transition: background 3s ease-in-out;
    -moz-transition: background 3s ease-in-out;
    -o-transition: background 3s ease-in-out;
    transition: background 3s ease-in-out; }
  .b5 .b5-popup {
    border: 1px solid red;
    width: 600px;
    height: 600px;
    position: absolute;
    top: -100%;
    left: -100%;
    display: none;
    z-index: 100; }

.b6 {
  /*transform*/
  -webkit-transform: translate3d(150px, 250px, 150px);
  -moz-transform: translate3d(150px, 250px, 150px);
  -ms-transform: translate3d(150px, 250px, 150px);
  -o-transform: translate3d(150px, 250px, 150px);
  transform: translate3d(150px, 250px, 150px); }

.b7 {
  /*transform*/
  -webkit-transform: translate3d(250px, 50px, 150px);
  -moz-transform: translate3d(250px, 50px, 150px);
  -ms-transform: translate3d(250px, 50px, 150px);
  -o-transform: translate3d(250px, 50px, 150px);
  transform: translate3d(250px, 50px, 150px); }

.b8 {
  /*transform*/
  -webkit-transform: translate3d(250px, 150px, 150px);
  -moz-transform: translate3d(250px, 150px, 150px);
  -ms-transform: translate3d(250px, 150px, 150px);
  -o-transform: translate3d(250px, 150px, 150px);
  transform: translate3d(250px, 150px, 150px); }

.b9 {
  /*transform*/
  -webkit-transform: translate3d(250px, 250px, 150px);
  -moz-transform: translate3d(250px, 250px, 150px);
  -ms-transform: translate3d(250px, 250px, 150px);
  -o-transform: translate3d(250px, 250px, 150px);
  transform: translate3d(250px, 250px, 150px); }

.c1 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(50px, -100px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(50px, -100px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(50px, -100px, 300px);
  -o-transform: rotateX(-90deg) translate3d(50px, -100px, 300px);
  transform: rotateX(-90deg) translate3d(50px, -100px, 300px); }

.c2 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(50px, 0, 300px);
  -moz-transform: rotateX(-90deg) translate3d(50px, 0, 300px);
  -ms-transform: rotateX(-90deg) translate3d(50px, 0, 300px);
  -o-transform: rotateX(-90deg) translate3d(50px, 0, 300px);
  transform: rotateX(-90deg) translate3d(50px, 0, 300px); }

.c3 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(50px, 100px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(50px, 100px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(50px, 100px, 300px);
  -o-transform: rotateX(-90deg) translate3d(50px, 100px, 300px);
  transform: rotateX(-90deg) translate3d(50px, 100px, 300px); }

.c4 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(150px, -100px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(150px, -100px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(150px, -100px, 300px);
  -o-transform: rotateX(-90deg) translate3d(150px, -100px, 300px);
  transform: rotateX(-90deg) translate3d(150px, -100px, 300px); }

.c5 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(150px, 0px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(150px, 0px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(150px, 0px, 300px);
  -o-transform: rotateX(-90deg) translate3d(150px, 0px, 300px);
  transform: rotateX(-90deg) translate3d(150px, 0px, 300px); }

.c6 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(150px, 100px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(150px, 100px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(150px, 100px, 300px);
  -o-transform: rotateX(-90deg) translate3d(150px, 100px, 300px);
  transform: rotateX(-90deg) translate3d(150px, 100px, 300px); }

.c7 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(250px, -100px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(250px, -100px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(250px, -100px, 300px);
  -o-transform: rotateX(-90deg) translate3d(250px, -100px, 300px);
  transform: rotateX(-90deg) translate3d(250px, -100px, 300px); }

.c8 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(250px, 0px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(250px, 0px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(250px, 0px, 300px);
  -o-transform: rotateX(-90deg) translate3d(250px, 0px, 300px);
  transform: rotateX(-90deg) translate3d(250px, 0px, 300px); }

.c9 {
  /*transform*/
  -webkit-transform: rotateX(-90deg) translate3d(250px, 100px, 300px);
  -moz-transform: rotateX(-90deg) translate3d(250px, 100px, 300px);
  -ms-transform: rotateX(-90deg) translate3d(250px, 100px, 300px);
  -o-transform: rotateX(-90deg) translate3d(250px, 100px, 300px);
  transform: rotateX(-90deg) translate3d(250px, 100px, 300px); }

.d1 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(50px, -250px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(50px, -250px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(50px, -250px, 150px);
  -o-transform: rotateX(-180deg) translate3d(50px, -250px, 150px);
  transform: rotateX(-180deg) translate3d(50px, -250px, 150px); }

.d2 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(50px, -150px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(50px, -150px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(50px, -150px, 150px);
  -o-transform: rotateX(-180deg) translate3d(50px, -150px, 150px);
  transform: rotateX(-180deg) translate3d(50px, -150px, 150px); }

.d3 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(50px, -50px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(50px, -50px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(50px, -50px, 150px);
  -o-transform: rotateX(-180deg) translate3d(50px, -50px, 150px);
  transform: rotateX(-180deg) translate3d(50px, -50px, 150px); }

.d4 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(150px, -250px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(150px, -250px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(150px, -250px, 150px);
  -o-transform: rotateX(-180deg) translate3d(150px, -250px, 150px);
  transform: rotateX(-180deg) translate3d(150px, -250px, 150px); }

.d5 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(150px, -150px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(150px, -150px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(150px, -150px, 150px);
  -o-transform: rotateX(-180deg) translate3d(150px, -150px, 150px);
  transform: rotateX(-180deg) translate3d(150px, -150px, 150px); }

.d6 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(150px, -50px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(150px, -50px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(150px, -50px, 150px);
  -o-transform: rotateX(-180deg) translate3d(150px, -50px, 150px);
  transform: rotateX(-180deg) translate3d(150px, -50px, 150px); }

.d7 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(250px, -250px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(250px, -250px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(250px, -250px, 150px);
  -o-transform: rotateX(-180deg) translate3d(250px, -250px, 150px);
  transform: rotateX(-180deg) translate3d(250px, -250px, 150px); }

.d8 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(250px, -150px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(250px, -150px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(250px, -150px, 150px);
  -o-transform: rotateX(-180deg) translate3d(250px, -150px, 150px);
  transform: rotateX(-180deg) translate3d(250px, -150px, 150px); }

.d9 {
  /*transform*/
  -webkit-transform: rotateX(-180deg) translate3d(250px, -50px, 150px);
  -moz-transform: rotateX(-180deg) translate3d(250px, -50px, 150px);
  -ms-transform: rotateX(-180deg) translate3d(250px, -50px, 150px);
  -o-transform: rotateX(-180deg) translate3d(250px, -50px, 150px);
  transform: rotateX(-180deg) translate3d(250px, -50px, 150px); }

.e1 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(-100px, 50px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(-100px, 50px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(-100px, 50px, 0px);
  -o-transform: rotateY(-90deg) translate3d(-100px, 50px, 0px);
  transform: rotateY(-90deg) translate3d(-100px, 50px, 0px); }

.e2 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(-100px, 150px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(-100px, 150px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(-100px, 150px, 0px);
  -o-transform: rotateY(-90deg) translate3d(-100px, 150px, 0px);
  transform: rotateY(-90deg) translate3d(-100px, 150px, 0px); }

.e3 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(-100px, 250px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(-100px, 250px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(-100px, 250px, 0px);
  -o-transform: rotateY(-90deg) translate3d(-100px, 250px, 0px);
  transform: rotateY(-90deg) translate3d(-100px, 250px, 0px); }

.e4 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(0px, 50px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(0px, 50px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(0px, 50px, 0px);
  -o-transform: rotateY(-90deg) translate3d(0px, 50px, 0px);
  transform: rotateY(-90deg) translate3d(0px, 50px, 0px); }

.e5 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(0px, 150px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(0px, 150px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(0px, 150px, 0px);
  -o-transform: rotateY(-90deg) translate3d(0px, 150px, 0px);
  transform: rotateY(-90deg) translate3d(0px, 150px, 0px); }

.e6 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(0px, 250px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(0px, 250px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(0px, 250px, 0px);
  -o-transform: rotateY(-90deg) translate3d(0px, 250px, 0px);
  transform: rotateY(-90deg) translate3d(0px, 250px, 0px); }

.e7 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(100px, 50px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(100px, 50px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(100px, 50px, 0px);
  -o-transform: rotateY(-90deg) translate3d(100px, 50px, 0px);
  transform: rotateY(-90deg) translate3d(100px, 50px, 0px); }

.e8 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(100px, 150px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(100px, 150px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(100px, 150px, 0px);
  -o-transform: rotateY(-90deg) translate3d(100px, 150px, 0px);
  transform: rotateY(-90deg) translate3d(100px, 150px, 0px); }

.e9 {
  /*transform*/
  -webkit-transform: rotateY(-90deg) translate3d(100px, 250px, 0px);
  -moz-transform: rotateY(-90deg) translate3d(100px, 250px, 0px);
  -ms-transform: rotateY(-90deg) translate3d(100px, 250px, 0px);
  -o-transform: rotateY(-90deg) translate3d(100px, 250px, 0px);
  transform: rotateY(-90deg) translate3d(100px, 250px, 0px); }

.f1 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(-100px, 50px, 300px);
  -moz-transform: rotateY(90deg) translate3d(-100px, 50px, 300px);
  -ms-transform: rotateY(90deg) translate3d(-100px, 50px, 300px);
  -o-transform: rotateY(90deg) translate3d(-100px, 50px, 300px);
  transform: rotateY(90deg) translate3d(-100px, 50px, 300px); }

.f2 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(-100px, 150px, 300px);
  -moz-transform: rotateY(90deg) translate3d(-100px, 150px, 300px);
  -ms-transform: rotateY(90deg) translate3d(-100px, 150px, 300px);
  -o-transform: rotateY(90deg) translate3d(-100px, 150px, 300px);
  transform: rotateY(90deg) translate3d(-100px, 150px, 300px); }

.f3 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(-100px, 250px, 300px);
  -moz-transform: rotateY(90deg) translate3d(-100px, 250px, 300px);
  -ms-transform: rotateY(90deg) translate3d(-100px, 250px, 300px);
  -o-transform: rotateY(90deg) translate3d(-100px, 250px, 300px);
  transform: rotateY(90deg) translate3d(-100px, 250px, 300px); }

.f4 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(0px, 50px, 300px);
  -moz-transform: rotateY(90deg) translate3d(0px, 50px, 300px);
  -ms-transform: rotateY(90deg) translate3d(0px, 50px, 300px);
  -o-transform: rotateY(90deg) translate3d(0px, 50px, 300px);
  transform: rotateY(90deg) translate3d(0px, 50px, 300px); }

.f5 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(0px, 150px, 300px);
  -moz-transform: rotateY(90deg) translate3d(0px, 150px, 300px);
  -ms-transform: rotateY(90deg) translate3d(0px, 150px, 300px);
  -o-transform: rotateY(90deg) translate3d(0px, 150px, 300px);
  transform: rotateY(90deg) translate3d(0px, 150px, 300px); }

.f6 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(0px, 250px, 300px);
  -moz-transform: rotateY(90deg) translate3d(0px, 250px, 300px);
  -ms-transform: rotateY(90deg) translate3d(0px, 250px, 300px);
  -o-transform: rotateY(90deg) translate3d(0px, 250px, 300px);
  transform: rotateY(90deg) translate3d(0px, 250px, 300px); }

.f7 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(100px, 50px, 300px);
  -moz-transform: rotateY(90deg) translate3d(100px, 50px, 300px);
  -ms-transform: rotateY(90deg) translate3d(100px, 50px, 300px);
  -o-transform: rotateY(90deg) translate3d(100px, 50px, 300px);
  transform: rotateY(90deg) translate3d(100px, 50px, 300px); }

.f8 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(100px, 150px, 300px);
  -moz-transform: rotateY(90deg) translate3d(100px, 150px, 300px);
  -ms-transform: rotateY(90deg) translate3d(100px, 150px, 300px);
  -o-transform: rotateY(90deg) translate3d(100px, 150px, 300px);
  transform: rotateY(90deg) translate3d(100px, 150px, 300px); }

.f9 {
  /*transform*/
  -webkit-transform: rotateY(90deg) translate3d(100px, 250px, 300px);
  -moz-transform: rotateY(90deg) translate3d(100px, 250px, 300px);
  -ms-transform: rotateY(90deg) translate3d(100px, 250px, 300px);
  -o-transform: rotateY(90deg) translate3d(100px, 250px, 300px);
  transform: rotateY(90deg) translate3d(100px, 250px, 300px); }

@keyframes move-front {
  0% {
    /*transform*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    /*transform*/
    -webkit-transform: translate3d(0, 0, 30%);
    -moz-transform: translate3d(0, 0, 30%);
    -ms-transform: translate3d(0, 0, 30%);
    -o-transform: translate3d(0, 0, 30%);
    transform: translate3d(0, 0, 30%); } }
